:root {
  --color-heading: #0b0d19;
  --color-body: #677386;
  --color-bg-button: #3d7bfa;
  --color-text-button: #fff;

  /* Når du synes, du er færdig, så ændr værdien herunder til '1' for at se dit resultat i browseren */
  --hide-overlay: 0;
}

/* Begynd her... */

h1 {
  color: var(--color-heading);
  font-size: 5rem;
}

p {
  color: var(--color-body);
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: start;
  text-align: left;
}

.see-all-button {
  background-color: var(--color-bg-button);
  color: var(--color-text-button);
  padding: 0.5rem 0.5rem 0rem 0.5rem;
  margin-top: 0.5rem;
  border-radius: 2px;
  max-width: 10rem;
}

.main_grid {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 2rem;
  justify-items: center;
  align-items: center;
}
.img_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}

.img_grid * {
  border-radius: 30px;
  width: 12rem;
}

.img_grid img:first-child {
  grid-column: 2;
  grid-row: 1/2;
}

.img_grid img:nth-child(2) {
  grid-column: 1;
  grid-row: 2/3;
}

.img_grid img:nth-child(3) {
  grid-column: 2;
  grid-row: 2 / 4;
}

.img_grid img:nth-child(4) {
  grid-column: 3;
  grid-row: 2/3;
}

.img_grid img:nth-child(5) {
  grid-column: 1;
  grid-row: 3;
}

.img_grid img:nth-child(6) {
  grid-column: 3;
  grid-row: 3/4;
}

.img_grid img:last-child {
  grid-column: 2;
  grid-row: 4 / 5;
}
