.card {
  padding: 1rem;

  .content > * + * {
    margin-top: 0.25rlh;
  }
}

.card:not(:has(img)) h3 {
  font-size: 2.5rem;
}
.card:not(:has(img, h3)) {
  font-size: 20px;
  line-height: 3;
}
.card:has(img) {
  padding: 0;
  & .content {
    padding: 1rem;
  }
}

@layer reset, cards;

@layer cards {
  .cards {
    list-style: none;
    padding: 0;
    max-inline-size: 60ch;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .card {
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1),
      inset 0 0 0 1px rgba(255, 255, 255, 0.5);
    overflow: clip;
  }

  h3 {
    color: #0f172a;
    line-height: 1.3;
  }

  p {
    color: #334155;
  }
}

@layer reset {
  * {
    box-sizing: border-box;
    margin: 0;
  }

  img {
    inline-size: 100%;
    block-size: auto;
    display: block;
  }

  html {
    font-family: system-ui;
    background: #cfd8e4;
    line-height: 1.5;
  }

  body {
    display: grid;
    place-content: center;
    block-size: 100svh;
  }
}
