@import url('https://fonts.cdnfonts.com/css/gill-sans-2');
@import url('https://fonts.cdnfonts.com/css/abril-fatface');

article {
    font-family: 'Gill Sans', sans-serif;
    max-inline-size: 400px;
    background: #fff;
    margin-block: 3rem;
    box-shadow:
        0 20px 25px -5px rgba(0, 0, 0, 0.1),
        0 10px 10px -5px rgba(0, 0, 0, 0.04);
    border-radius: 1rem;
    border: 1px solid #DADCEB;
}

.picture {
    display: grid;
    padding: .5rem;

    >* {
        grid-area: 1 / 1;
    }

    .back {
        place-self: start;
        margin: 1rem;
        z-index: 1;
        color: #fff;
    }

    .image-count {
        padding: .5rem 1rem;
        border-radius: 1rem;
        letter-spacing: 2px;
        line-height: 1;
        place-self: end;
        background: #BDC4CE;
        color: #fff;
        margin: 1rem;
    }

    img {
        border: 1px solid #DADCEB;
        border-radius: .5rem;
    }
}

.card-content {
    display: grid;
    gap: 1rem;
    padding: 0 2rem 1rem;
}

.title {
    font-family: 'Abril Fatface', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    color: #3C55CC;
}

.location {
    color: #C8C9CB;
    text-transform: uppercase;
    font-size: .95em;
}

.description p {
    text-align: center;
}

.amenities-details {
    display: flex;
    gap: 1rem;

    li {
        flex: 1;
        display: grid;
        gap: .75rem;
        place-items: center;
        padding: .25rem;
        background: #F0F2FF;
        color: #3C55CC;
    }
}


footer {
    padding: 1rem 2rem;
    box-shadow: 0 -2px 4px -1px #0002;

    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;


    button {
        padding: .75rem 1rem;
        border: none;
        line-height: 1;
        border-radius: 8px;
        font-weight: 500;
        font: inherit;
        background: #F0F2FF;
        color: #3C55CC;
    }

    .price {
        font-weight: 600;

        span {
            color: #908F9F;
            font-size: 0.75em;
            font-weight: 400;
        }
    }
}











@layer reset {
    * {
        margin: 0;
        box-sizing: border-box;
    }

    body {
        min-height: 100svh;
        font-family: system-ui, sans-serif;
        display: grid;
        place-content: center;
        background: #F5F6FA;
    }

    img,
    svg {
        display: block;
        max-inline-size: 100%;
        height: auto;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    .sr-only {
        border: 0 !important;
        clip: rect(1px, 1px, 1px, 1px) !important;
        /* 1 */
        -webkit-clip-path: inset(50%) !important;
        clip-path: inset(50%) !important;
        /* 2 */
        height: 1px !important;
        margin: -1px !important;
        overflow: hidden !important;
        padding: 0 !important;
        position: absolute !important;
        width: 1px !important;
        white-space: nowrap !important;
    }
}