.break-out-card {
    inline-size: min(650px, 100% - 2rem);
    display: block grid;
    grid-template-columns: auto auto;
    gap: 0 1em;
}

.content {
    padding: 1.5em;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 15px 35px 0px rgba(13, 23, 38, 0.07);
    border-inline-start: 7px solid #4f48ed;
}

.tag {
    padding-block: .25em;
    padding-inline: 1em;
    display: inline block;
    background: #e7e9ef;
    color: #939dab;
    font-size: 0.8em;
    font-weight: 700;
    letter-spacing: 0.5px;
    border-radius: 4px;
}

h3 {
    font-weight: 300;
    font-size: 2.2em;
    margin-block: .5rem;
    line-height: 1.25;
}

h3 strong {
    font-weight: 700;
}

small {
    color: #aeb5bf;
}