section {
  max-width: 1200px;
  padding-inline: 1rem;

  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 2.5fr 1.5fr 1fr;
  gap: 1.5rlh;
  color: var(--gray-900);

  h2 {
    font-size: 2.5rem;
    z-index: 1;
    line-height: 1.1;
    color: var(--gray-1000);
    margin-block-start: calc(0.5cap - 0.5lh);
  }

  .content {
    grid-column: 2/-1;
    grid-row: 1;

    > * + * {
      margin-top: 0.75rlh;
    }
  }

  figure {
    display: grid;
    grid-area: 1/1 / span 2/3;
    /*grid-template-columns: subgrid;
    grid-template-rows: subgrid; */
    grid: subgrid / subgrid;
  }

  img {
    grid-area: 1 / auto / span 2;
    align-self: stretch;
    object-fit: cover;
    aspect-ratio: 1.35;
  }

  figcaption {
    grid-area: 2/2;
    margin-top: 0.5em;
    font-size: 85%;
    color: var(--gray-900);
    background: var(--gray-100);
    padding: 0.4rlh 0.6rlh;
  }

  @media (width < 600px) {
    grid: revert;

    figure,
    .content {
      display: revert;
      grid-area: revert;
    }
  }
}
