@layer reset, global, components;

@import "./reset.css" layer(reset);


@layer global {
    html {
        background: #19181A;
        color: #fefefe;
    }

    body {
        min-height: 100svh;
        font-family: system-ui, sans-serif;
    }

    h2,
    h3 {
        margin-block: 0 0.625rem;
        line-height: 1.125;
        color: #F5F5F7;
    }

    h2 {
        font-size: 1.35rem;
    }

    h3 {
        font-weight: 600;
        font-size: 1.125rem;
    }
}