---
import "../styles/global.css";

import Timeline from "../components/Timeline.astro";

import { data } from "../data/card-content.js";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Timeline</title>
  </head>
  <body>
    <main>
      <Timeline {data} />
    </main>
  </body>
</html>

<style>
  main {
    padding: 2rem 1rem;
  }
</style>
