:root {
    --gray-100: hsl(0, 0%, 95%);
    --gray-200: hsl(0, 0%, 92%);
    --gray-300: hsl(0, 0%, 90%);
    --gray-400: hsl(0, 0%, 85%);
    --gray-500: hsl(0, 0%, 79%);
    --gray-600: hsl(0, 0%, 66%);
    --gray-700: hsl(0, 0%, 56%);
    --gray-800: hsl(0, 0%, 49%);
    --gray-900: hsl(0, 0%, 43%);
    --gray-1000: hsl(0, 0%, 9%);
}

body {
    min-height: 100svh;
    font-family: system-ui, sans-serif;
    display: flex;
    place-content: center;
    place-items: center;
    line-height: 1.5;
}