@layer reset, exercise;

@import "./reset.css" layer(reset);
@import "../style.css" layer(exercise);


.overlay {
    position: fixed;
    inset: 0;
    inline-size: 100%;
    block-size: 100vh;
    background: #fff;
    z-index: 100;
    padding-inline: max(1rem, 50% - 1100px / 2);
    opacity: calc(1 - var(--hide-overlay, 1));
}