@layer reset, exercise;

@import "./reset.css" layer(reset);
@import "../style.css" layer(exercise);


@layer exercise {
    body {
        min-height: 100svh;
        font-family: system-ui, sans-serif;
    }
}

[data-overlay] {
    position: fixed;
    inset: 0;
    inline-size: 100%;
    block-size: 100vh;
    background: inherit;
    z-index: 100;
    padding: 2rem max(1rem, 50% - 1100px / 2);
    opacity: calc(1 - var(--hide-overlay, 1));

    img {
        max-width: 400px;
    }
}