---
import "../styles/global.css";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  @layer {
    :root {
      --spring-easing: linear(
        0,
        0.218 2.1%,
        0.862 6.5%,
        1.114,
        1.296 10.7%,
        1.346,
        1.37 12.9%,
        1.373,
        1.364 14.5%,
        1.315 16.2%,
        1.032 21.8%,
        0.941 24%,
        0.891 25.9%,
        0.877,
        0.869 27.8%,
        0.87,
        0.882 30.7%,
        0.907 32.4%,
        0.981 36.4%,
        1.012 38.3%,
        1.036,
        1.046 42.7% 44.1%,
        1.042 45.7%,
        0.996 53.3%,
        0.988,
        0.984 57.5%,
        0.985 60.7%,
        1.001 68.1%,
        1.006 72.2%,
        0.998 86.7%,
        1
      );
      --ease-out: linear(
        0,
        0.002,
        0.01 3.6%,
        0.034,
        0.074 9.1%,
        0.128 11.4%,
        0.194 13.4%,
        0.271 15%,
        0.344 16.1%,
        0.544,
        0.66 20.6%,
        0.717 22.4%,
        0.765 24.6%,
        0.808 27.3%,
        0.845 30.4%,
        0.883 35.1%,
        0.916 40.6%,
        0.942 47.2%,
        0.963 55%,
        0.979 64%,
        0.991 74.4%,
        0.998 86.4%,
        1
      );
    }
    body {
      min-height: 100svh;
      font-family: system-ui, sans-serif;
      display: grid;
      align-content: start;
    }
  }
</style>
